body {
background-color: #E8EDDF;
     }
/*----Nav Bar Stuff-----*/
     ul {
  list-style-type: none;
   display: block;
  background-color: #F5CB5C;
  width: 100%;
  padding: 0;      
  position: absolute;
  overflow: hidden;
  margin: 0;
  top: 0;
}



li{
  float: left;
  border-right: 2px solid #242423;
  top: 0;
}

li a {
  padding: 17px;
  text-decoration: none;
   top: 0;
  display: block;
  color:#242423;
  font-family: "garamond";
}

li a:hover {
  background-color:#CFDBD5;
