body {
background-color: aquamarine;
     }
/*----Nav Bar Stuff-----*/
     ul {
  list-style-type: none;
   display: block;
  float: left;
  background-color: #F2C649;
  width: 99%;
  position: fixed;
  overflow: hidden;
  top: 0;
@@ -21,14 +21,15 @@ background-color: aquamarine;


li{
  color: black;
  display: block;
  padding: 0;
  text-decoration: none;
  border-right: 1px solid #bbb;
}

li a:hover {
  background-color:gold;
  background-color:yellow;
}

li:last-child {
  border-right: none;
}
li a:link {
    text-decoration:none;
}   
li a:hover {
  background-color:gold;
}
  
li:last-child {
  border-right: none;
}

li a:link {
    text-decoration:none;
}   

           
