body {
background-color: #E8EDDF;
     }
/*----Nav Bar Stuff-----*/
     ul {
  list-style-type: none;
   display: block;
  float: left;
  background-color: #F5CB5C;
  width: 100%;
  position: fixed;
  overflow: hidden;
  top: 0;
  padding: 0;     
  border: 4px solid #456;
}


li{
  display: block;
  padding: 12px 14px;
  text-decoration: none;
  border-right: 10px solid #fff;
}


li a:hover {
  background-color:#CFDBD5;
}

li:last-child {
  border-right: none;
}

li a:link {
    text-decoration:none;
}   
